.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  padding-bottom: 25px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.submenu {
  display: none;
  list-style-type: none;
  padding: 0;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  white-space: nowrap;

}


.submenu li {
  padding: 10px;
  display: block;
}

.submenu a:hover {
  color: #0070f3;
}

.submenu a {
  border: none;
}


.dropdown:hover .submenu {
  display: block;
}


.dropdown:hover>a {
  font-weight: bold;
}

body {
  background-color: burlywood;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  margin: 0 20px;
}

a {
  text-decoration: none;
  font-size: 1.85rem;
  color: #333;
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #f0f0f0;
  color: #333;
}

.content-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  font-family: 'Times New Roman', Times, serif;
}

.main-content {
  flex: 6;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  overflow-y: auto;
  max-height: 700px;

}

.side-panel {
  flex: 2;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  overflow-y: auto;
  max-height: 700px;

}


.story-preview {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

.story-preview:hover {
  background-color: #f0f0f0;
}

img {
  width: auto;
  height: 40%;
  image-rendering: auto;
  margin-right: 30px;
  float: left;
}

.mini {
  width: 35%;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form textarea {
  width: 98%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="submit"] {
  background-color: #f0f0f0;
  color: #333;
  padding: 15px 30px;
  font-size: 1.85rem;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

form input[type="submit"]:hover {
  background-color: #333;
  color: #f0f0f0;
}